.eyebrow {
	FONT-SIZE: x-small; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica
}
.ladownleveleyebrow {
	COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica
}
A.EyeBrowLink {
	FONT-SIZE: x-small; MARGIN-LEFT: 0px; CURSOR: hand; COLOR: #ffffff; MARGIN-RIGHT: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana
}
