<div class="container">
  <div class="user-details">
    <h3> Featured Albums </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/numeral5.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Ambient Moments Vol 1. </h5>
      <li> Third Ambient Album</li>
      <p>Inspired by the original transhumanism movement in the 1920's and the National Science Foundation report. Vol 1. was written and also inspired by youth that was misunderstood and feared.</p>
      <a class="project-link" href="https://store.cdbaby.com/cd/jonathanmoore">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="pinusaristata" src="{{ "/assets/img/numeral11.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Pinus Aristata  </h5>
      <ul>
        <li> Sixth Ambient Album</li>
      </ul>
      <p>Pinus Aristata was hand coded in Supercollider after I read the Supercollider Book from MIT Press. It was inspired by the MIT Media Lab, Stanford and Princeton Laptop Orchestra's. Additional credits include the Supercollider community.</p>
      <a class="project-link" href="https://jdm7dv.bandcamp.com/album/pinus-aristata">Check it out</a>
    </div>
  </div>
</div>
