<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mosa" src="{{ "/assets/img/mosa.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Mosa </h5>
      <li> A C# Operating System</li>
      <p>MOSA is an open source software project aiming to create a high quality, cross-platform, optimizing .NET compiler designed specifically to support a managed operating system based on the .NET framework.</p>
      <a class="project-link" href="https://github.com/jdm7dv/MOSA-Project">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="ugen_studio" src="{{ "/assets/img/ugen_studio.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5>Overtone</h5>
      <ul>
        <li>Collaborative Programmable Music</li>
      </ul>
      <p></p>
      <a class="project-link" href="https://overtone.github.io/">Check it out</a>
    </div>
  </div>
</div>
