.body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;	
	margin: 0px 0px 18px;
	padding: 0px;
	}
.bodyTIGHT {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
}
.Head3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 16px;
	color: #636467;
	font-weight: bold;
}
.Head1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #FF9900;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 555px;
	margin-left: 0px;
	line-height: normal;
	padding: 0px;
}
.BlogTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 10px;
	font-weight: normal;
}
.headermaintitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 17px;
	font-weight: normal;
}
.listtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 17px;
	color: #000000;
	font-weight: normal;
	line-height: normal;
	padding: 0px;
}
.datetitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	padding: 0px;
	font-style: normal;
	font-weight: bold;
}
.posttitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #FF9900;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	line-height: normal;
	padding: 0px;
}
.itemdesc 
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	line-height: normal;
	padding: 0px;
}
.Nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #333333;
}
.NavSelected {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;


}
a {
	color: #003366;
	text-decoration: underline; /*none;*/
}
a:hover 
{
	color: #000000;
	text-decoration: underline;
}

.bodyBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: 0px 0px 8px;
	padding: 0px;
	font-style: normal;
	font-weight: bold;
}
.bodyTIGHTBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	color: #000000;
	font-weight: bold;
}
.Head2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 7px;
	margin-left: 0px;
	line-height: normal;
	padding: 0px;
}
.bodyTIGHTHomePage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #3F4460;
}
